<div class="text-center">
  <%= form_with url: root_path, method: :get, local: true do |form| %>
    <div class="form-group row mb-3">
      <%= form.label :address, "What is your address?", class: "col-sm-2 col-form-label" %>
      <div class="col-sm-10">
        <%= text_field_tag(:address, @address, size: 30, class: "form-control") %>
      </div>
    </div>
    <div class="mb-5">
      <%= submit_tag "Submit", class: "btn btn-primary" %>
    </div>
  <% end %>
</div>

<% if defined?(@weather) %>
  <div class="card mx-auto text-center" style="width: 24rem;">
    <div class="card-body">
      <h5 class="card-title"><%= Date.today.strftime('%A, %B %d, %Y') %></h5>
      <h6 class="card-subtitle mb-2 text-muted"><%= @weather.name %></h6>
      <img src="<%= @weather.icon_url %>"/>
      <p><%= @weather.status %></p>
      <p><%= @weather.description %></p>
      <p>Current temperature: <%= @weather.temperature %> F</p>
      <p>Low: <%= @weather.low %> F, High: <%= @weather.high %> F</p>
      <p>Cached: <%= @weather.cached? %></p>
    </div>
  </div>
<% end %>
